$body-background: white;
$body-background404: #15210a;
$h3-404: white;
$p-404: white;
$header-background: white;
$footer-background: #004A98;
$footer-color: white;
$card-background: transparent;
$card-textcolor: #767E8B;
$card-titulocolor: #004A98;
$card-bordercolor: transparent;
$card-paddingheader: 10px;
$card-paddingright: 20px;
$card-paddingbottom: 10px;
$card-paddingleft: 20px;
$btn-textcolor: #2691FB;
$btn-bordercolor: #2691FB;
$card2-background: transparent;
$card2-textcolor: #003E73;
$card2-titulocolor: #003E73;
$btn2-textcolor: white;
$btn2-bordercolor: #2691FB;
$header-textcolor: #004A98;

$toplogopadding-left: 20px;
$toplogopadding-top: 20px;

$topmenupadding-top: 40px;
$topmenupadding-right: 40px;

$orbit-bulletcolor: #7D7B7C;
$orbit-bulletcoloractive: #004A98;


@font-face {
  font-family: AvenirLTStd-Medium;
  font-style: normal;
  font-weight: normal;
  src: url('assets/Fonts/avenirltstd-book-webfont.eot'); /* IE9 Compat Modes */
  src: url("assets/Fonts/AvenirLTStd-Medium.otf"),
       url('assets/Fonts/AvenirLTStd-Medium.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: AvenirLTStd-Black;
  font-style: normal;
  font-weight: normal;
  src: url('assets/Fonts/avenirltstd-black-webfont.eot'); /* IE9 Compat Modes */
  src: url("assets/Fonts/AvenirLTStd-Black.otf"),
       url('assets/Fonts/AvenirLTStd-Black.woff') format('woff');
}

@font-face {
  font-family: MyriadPro-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('assets/Fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url("assets/Fonts/MyriadPro-Regular.otf"),
       url('assets/Fonts/MyriadPro-Regular.woff') format('woff');
}

body {
  background: $body-background;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

header{
  background: $header-background;
  height: 120px;
  width: auto;
  padding-top: 20px;
}

h5{
  font-family: AvenirLTStd-Medium;
  font-size: 56px; 
  color: $header-textcolor;
  text-transform: uppercase;
}



h5 span{
  font-family: AvenirLTStd-Black;
  font-size: 46px; 
  color: $header-textcolor;
  text-transform: uppercase;
}

.modalAraucana {
    width: 60%;
}


#univerH5 {
  font-family: AvenirLTStd-Medium;
  font-size: 32px; 
  color: $header-textcolor;
  text-transform: uppercase;
}

#ipH5 span{
  font-family: AvenirLTStd-Black;
  font-size: 45px; 
  color: $header-textcolor;
  text-transform: uppercase;
  
}
#ipH5 {
  font-family: AvenirLTStd-Medium;
  font-size: 24px; 
  color: $header-textcolor;
  text-transform: uppercase;
  
}

#magisterH5 span{
  font-family: AvenirLTStd-Black;
  font-size: 53px; 
  color: $header-textcolor;
  text-transform: uppercase;
  
}
#magisterH5 {
  font-family: AvenirLTStd-Medium;
  font-size: 24px; 
  color: $header-textcolor;
  text-transform: uppercase;
  
}

h3{
  font-family: AvenirLTStd-Medium;
  font-size: 27px; 
  color: $header-textcolor;
  
}

h3 span{
  font-family: AvenirLTStd-Black;
  font-size: 27px; 
  color: $header-textcolor;
  
}

h6{
  font-family: AvenirLTStd-Medium;
  font-size: 24px; 
  color: $header-textcolor;
  text-transform: uppercase;
}

h2 {
  font-family: AvenirLTStd-Black;
  font-size: 54px; 
  color: $header-textcolor;
  text-transform: uppercase;
}

.orbit-bullets button{
  background-color: $orbit-bulletcolor;
}
.orbit-bullets button.is-active{
  background-color: $orbit-bulletcoloractive;
}

.menu-icon::after , .menu-icon:hover::after{
    background: $footer-background;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 $footer-background, 0 14px 0 $footer-background;
}

.row.container {
    padding: 25px;
}

.columns.hide-for-medium.small-3 {
    text-align: center;
    padding-top: 20px;

}
  

div#example-menu {
    height: 100%;
    background: $header-background;
}
div#example-menu {
    padding: 0px;
    position-top: -16px;
}
.top-bar, .top-bar ul {
    background: $header-background;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 1rem;
    color: $header-textcolor;
    font-weight: normal;

}
.top-bar .menu li:not(:last-child) {
    border-right: 0px solid #4e4e4e;
}

.top-bar-left.hide-for-small-only {
    padding-left: $toplogopadding-left;
    padding-top: $toplogopadding-top;
}

.top-bar-right {
    padding-top: $topmenupadding-top;
    padding-right: $topmenupadding-right;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-weight: 700;

}
#card2Div{
  padding-top: 0px;
}


div#example-menu {
    height: 120px;
}
.headermenu {
  width: 100%;
  min-height: 120px;
  padding-top: 20px;
}

.row.title-bar {
    background: transparent;
}

.footer, .footer-container {
  background: $footer-background;
  padding:  10px;
}
.row.footer-container  {
  background: $footer-background;
}

.footerSocial {
  padding-top: 20px;
}

.footermenu a , .footermenu p , .footerSocial p {
  font-family: MyriadPro-Regular;
  color: $footer-color;
}

.footermenu a , .footerSocial p {
 font-family: MyriadPro-Regular;
 font-size: 18px;
 margin-bottom: 0px;
}

.footermenu p {
  font-family: MyriadPro-Regular;
 font-size: 20px;
 margin-bottom: 0px;
 line-height: 1.2;
}


#footerTitle{
  margin-top: 5px;

}

hr {
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;
    width: 100%;
}
.columns.small-12.show-for-small-only {
    padding-bottom: 10px;
}

ul#listMenuHeader {
    font-size: 12px;
}

a::after {
    visibility: visible;
}

#listMenuHeader, #menu-footer-1{
  text-transform: uppercase;
}

.row.footerSocial.show-for-small-only {
    padding-top: 0px;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-weight: 700;
}

.card-section {
  background: $card-background;
  padding: $card-paddingheader $card-paddingright $card-paddingbottom $card-paddingleft;

}

.card-section p {
  font-family: AvenirLTStd-Medium;;
  font-size: 14px; 
  color: $header-textcolor;
  margin-bottom: 0px;
  line-height: 1.2;
}

#rowInstitute, #colInstitute{
  padding: 0px;
}

#colInstitute p , #colInstitute h5{

  text-transform: uppercase;
 
}

.card-section h5{
  font-family: AvenirLTStd-Black;
  font-size: 16px; 
  color: $header-textcolor;
  text-transform: none;
  margin-bottom: 2px;
  line-height: 1.2;
}
#imageCard1 {
  padding-left: 20px;
}

.small-12.medium-6.columns.card2-section {
    padding-left: 20px;
    padding-top: 20px;
}

.card.columns{
  padding: 10px;
  border-color: $card-bordercolor;
}


.small-12.medium-6.columns.card2 {
    padding: 0px;
}


.header-container {
  background: $header-background;
}


#menuListHeader  {
  text-align: right;
   margin-top: 20px;
}

#menuListHeader  a {
  font-family: AvenirLTStd-Black;
  color: $header-textcolor;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

ul.menu.headermenu {
    margin-top: 15px;
}



//Medias Queris

/* Small only */
@media screen and (max-width: 350px) {

  #menuListHeader  {
   text-align: right;
   margin-top: 10px;
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  #menuListHeader a {
    font-size: 12px;
  }

  hr{
    margin-left: 0px;
  }

  #imgFacebookMobile img, #imgLogoFooter2Mobile img {
    height: 60px;
    width: auto;
  }

  div#imgLogoFooter2Mobile, div#imgFacebookMobile, #pFacebookMobile {
    text-align: center;
  }

  #menuFooterMobile {
    padding: 0px;
  }
 
  .headermenu {
  width: 100%;
  min-height: 80px;
  padding-top: 0px;
  }

  #rowMobile{
  margin-right: 0px;
  margin-left: 0px;
  }
  .footermenu a {
    font-family: MyriadPro-Regular;
    font-size: 12px;
    margin-bottom: 0px;
  }

  .footermenu p {
    font-family: MyriadPro-Regular;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 1.2;
  }



  h5{
    font-family: AvenirLTStd-Medium;
    font-size: 28px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }



  h5 span{
    font-family: AvenirLTStd-Black;
    font-size: 28px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }



  h3{
    font-family: AvenirLTStd-Medium;
    font-size: 16px; 
    color: $header-textcolor;
    
  }

  h3 span{
    font-family: AvenirLTStd-Black;
    font-size: 16px; 
    color: $header-textcolor;
    
  }

  h6{
    font-family: AvenirLTStd-Medium;
    font-size: 18px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }

  h2 {
    font-family: AvenirLTStd-Black;
    font-size: 24px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }
  #imagesBrand img{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }


  .card-section p {
    font-family: AvenirLTStd-Medium;;
    font-size: 12px; 
    color: $header-textcolor;
    margin-bottom: 0px;
    line-height: 1.2;
  }



  .card-section h5{
    font-family: AvenirLTStd-Black;
    font-size: 14px; 
    color: $header-textcolor;
    text-transform: none;
    margin-bottom: 2px;
    line-height: 1.2;
  }

  #footerlogos{
    margin-bottom: 10px;
  }

  #univerH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 32px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }

  #ipH5 span{
    font-family: AvenirLTStd-Black;
    font-size: 18px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }
  #ipH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 14px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }

  #magisterH5 span{
    font-family: AvenirLTStd-Black;
    font-size: 18px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }
  #magisterH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 14px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }
  .modalAraucana {
      width: 100%;
      max-height: 100%;
  }

  .modalAraucana iframe {
      width: 90%;
      height: 90%;

  }
}


/* Medium and up */
@media screen and (min-width: 40em) {

  .profix {
    padding-top: 50px;
  }
   #imgHeader img {
    width: 150px;
    padding-top: 10px;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

 #menuListHeader a {
  font-size: 12px;
  }
  #imgOrbit{
    content: src()
  }
  #imgHeader img {
    width: 150px;
    padding-top: 10px;
  }

  #ipH5 span{
    font-family: AvenirLTStd-Black;
    font-size: 28px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }
  #ipH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 24px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }

  #magisterH5 span{
    font-family: AvenirLTStd-Black;
    font-size: 32px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }
  #magisterH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 24px; 
    color: $header-textcolor;
    text-transform: uppercase;
    
  }

  #univerH5 {
    font-family: AvenirLTStd-Medium;
    font-size: 56px; 
    color: $header-textcolor;
    text-transform: uppercase;
  }

 
 
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}